@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&family=Old+Standard+TT:ital@1&family=Petit+Formal+Script&family=Pinyon+Script&family=Playfair+Display&family=Roboto+Slab:wght@100&display=swap");

/* 
font-family: 'Cedarville Cursive', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Petit Formal Script', cursive;
font-family: 'Pinyon Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
*/

/* todo Rem to deal with the different screen sizes by incorporating meadia queries*/

/* todo Rem to change the font type on navbar */

/* todo content for the Gallery page */

body {
  height: auto;
  margin: 0;
  /* background-image:url(images/abstract-white-shapes-background/5026563.jpg); */
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* ? Nav Section */
li, a {
  text-decoration: none;
  color: grey;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
}

.nav-content span{
  margin-right:3px;
  font-size: 10px;
  font-weight: 400;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

.nv-bar{
  top: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(237, 187, 153, .6);
  height: 100px;
  position: fixed;
  z-index: 999;
}

.logo-nav{
  width: 80px;
  height: auto;
  object-fit: contain;
  object-fit: cover;
  object-position: center;
}

.img-logo{
  width: 100%;
  height: auto;
  margin-left: 0;
}

.nav-buttons{
  display: flex;
  flex-direction: row;
  margin-right: 24rem;
}

.hidden{
  display: none;
}

.nav-content{
  list-style: none;
  padding: 10px 40px;
  gap: 5px;
}

.menu-toggle,
.menu-toggle-close{
  display: none;
  float: right;
  margin-right:2rem;
  font-size: large;
}

.menu-toggle-close{
  display: none;
}

.dropdown-menu{
  display: none;
  background-color: rgba(237, 187, 153, .6);
  float: right;
  margin-top: 1.2rem;
  margin-right: 0;
  height: 0;
  width: auto;
  overflow: hidden;
  transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
  height: 160px;
  overflow: auto;
}

li a:hover{
  color: white;
}





@media(max-width: 540px){

  li a:hover{
      color: white;
  }
  
  .nv-bar{
      display: none;
  }

  .dropdown-menu span{
      display: none;
  }

  .menu-toggle{
      display: block;
      margin-top: 2rem;
  }

  .dropdown-menu{
      display: block;
  }

  .logo-query{
      display: block;
      width: auto;
      height: auto;
      object-fit: contain;
      object-fit: cover;
      object-position: center;
  }

  .menu-toggle-close{
      display: none;
  }

}

@media(max-width:430px){
  .menu-toggle{
      display: block;
  }

  .logo-query{
      display: block;
      width: 100%;
      height: auto;
      margin-left: .6rem;
      object-position: center;
  }

  .dropdown-menu{
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 2rem;
  }

  li a:hover{
      color: white;
  }    

}

@media (max-width: 360px){
  .logo-query{
      width: 100%;
      margin-left: 2.5rem;
  }
}

/* ? Intro Section */

.head-container-text{
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  padding: .5rem 2rem;
  background-color: #FEDCC6;
}

.intro-head-text {
  width: 400px;
  text-align: center;
  text-wrap: wrap;
  font-family: 'Old Standard TT', serif;
}

/* ? The Destinations GAllery Section */

.destination-header{
    text-align: center;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    font-family: 'Petit Formal Script', cursive;
    font-size: 2rem;
}


.destination-container-inner{
  background-color: #FEDCC6;
  margin-top:1rem;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  overflow-x: auto;
  overflow: scroll;
}

.destination-img-container{
    position: relative;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2);

}

.destination-img{
    width: 200px;
    height: auto;
    padding: 1rem 1rem;
    background-color: antiquewhite;
}

.destination-text{
    position: absolute;
    width: 2.6rem;
    bottom: 1.4rem;
    background-color: #FFB280;
    padding: .8rem 3rem;
    left: 22%;
    overflow: hidden;
    font-family: 'Petit Formal Script', cursive;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(	250	,235,215 , .7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 1s ease-in-out;
}

.destination-img-container:hover  .overlay{
    width: 100%;
    left: 0;
}

.overlay-text{
    color: #626567;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    white-space: wrap;
    font-family: 'Old Standard TT', serif;
}

/*? Welcome section */

.head-container{
  background-color: antiquewhite;
  text-align: center;
  margin-top: 1.5rem;
}

.head{
  font-family: 'Petit Formal Script', cursive;
}

.grid-container{
  width: 50%;
  line-height:0;
  margin: .6rem auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.grid-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-container{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  mix-blend-mode: lighten;
}

.article-div {
  background-color: black;
  height: 17vw;
}


/* .article-container:hover{
  grid-gap: 0;
  transition: .2s;
} */

/* todo change arrows to look up */
.button-container{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button{
  padding: .5rem 3rem;
  border-radius: .6rem;
}

.span{
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
}

.button{
  font-size: 1rem;
  background-color: antiquewhite;
}

.button:hover{
  cursor: pointer;
  background-color: #FFE0CC;
  transition-duration: .5s;
}


.content-gallary:hover{
  letter-spacing: .6rem;
}

/* ? Footer Section */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(237, 187, 153); 
  width: 100%;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0;
}


.nav-container, a{
  text-decoration: none;
  list-style: none;
  padding: 1rem 1rem;
  color: black;
}

.list-items{
  margin-bottom: .5rem;
  margin-top: .6rem;
  transition: .5s transform;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
}


.img-container{
  width: 130px;
  height: auto;
  object-fit: contain;
  object-fit: cover;
  object-position: center;
  padding:0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.img-content{
  width: 100%;
  height: auto;
}

.inner-right{
  padding: auto;

}

.social-media-container{
  background-color: rgb(246, 221, 204);
  height: auto;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  transition: .5s;
}

.social-media-container a {
  padding: 0;
  margin: 0;
}

.icon{
  margin-left: 2rem;
  width: 1.5rem;
  height: auto;
  transition: .5s transform;
  padding: 4px;
  border-radius: 5px;
}

.img-social-media{
  display: flex;
  flex-direction: column;
  padding: .5rem 1.5rem;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(246, 221, 204);
}

.img-social-media-container{
  width: 80px;
  height: auto;
  object-fit: contain;
  object-fit: cover;
  object-position: center;
  padding:0;
  margin-left: .8rem;
  background-color: rgb(246, 221, 204);
}

.social-media{
  width: 100%;
  height: auto;
  transition: .5s;
}

.social-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rights{
  font-size: large;
}


.list-items:hover {
  transform: translateY(-5px);
  transition: .3s ease-in-out background-color;
}

.icon:hover {
  transform: translateY(-5px);
  background-color: rgb(245, 203, 167);
  transition: .3s ease-in-out background-color;
}

.list-items a:hover{
  color: white;
  border-radius: 5px;
}

.social-media:hover{
  transform: scale(1.5);
  transition: .5s ease-in-out;
}

@media (max-width: 760px){
  .footer{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  }
}

@media (max-width: 360px){
  .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .social-media-container{
      padding: 0;        
  }

  .img-social-media{
      margin: 0;
      padding: 0;
  }
}