@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script&family=Old+Standard+TT:ital@1&family=Petit+Formal+Script&family=Pinyon+Script&family=Playfair+Display&family=Roboto+Slab:wght@100&display=swap");

/* 
font-family: 'Cedarville Cursive', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Petit Formal Script', cursive;
font-family: 'Pinyon Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
*/

/* todo Rem to deal with the different screen sizes by incorporating meadia queries*/
body {
  height: auto;
  margin: 0;
  /* background-image:url(images/abstract-white-shapes-background/5026563.jpg); */
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* ? Nav Section */
li,
a {
  text-decoration: none;
  color: grey;
  display: block;
}

.span {
  margin-right: 3px;
  font-size: 10px;
  font-weight: 400;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.nv-bar {
  top: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(237, 187, 153, 0.6);
  height: 100px;
  position: fixed;
  z-index: 999;
}

.logo-nav {
  width: 80px;
  height: auto;
  object-fit: contain;
  object-fit: cover;
  object-position: center;
}

.img-logo {
  width: 100%;
  height: auto;
  margin-left: 0;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 24rem;
}

.hidden {
  display: none;
}

.nav-content {
  list-style: none;
  padding: 10px 40px;
  gap: 5px;
}

.menu-toggle,
.menu-toggle-close {
  display: none;
  float: right;
  margin-right: 2rem;
  font-size: large;
}

.menu-toggle-close {
  display: none;
}

.dropdown-menu {
  display: none;
  background-color: rgba(237, 187, 153, 0.6);
  float: right;
  margin-top: 1.2rem;
  margin-right: 0;
  height: 0;
  width: auto;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 160px;
}

.dropdown-menu.open span {
  display: none;
}

li a:hover {
  color: white;
}

/* ? Who Section */
.who-container {
  /* background-color: lightskyblue; */
  max-width: auto;
  max-height: 600px;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  overflow: hidden;
}

.who-header {
  text-align: center;
  margin-top: 8rem;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}

.img-who {
  background-color: #fae5d3;
  width: 750px;
  height: auto;
  object-fit: cover;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.text-who-section {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* todo the width will be auto while the height constant */
.text-who {
  background-color: #fae5d3;
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  line-height: 1.5rem;
  padding: 1rem 6rem;
  font-family: sans-serif;
}

.text-who-content {
  line-height: 1.8rem;
  padding: 1rem 2rem;
  margin-left: 1rem;
  text-align: center;
  font-family: "Old Standard TT", serif;
}

.quote-container {
  text-align: center;
  padding: 1rem 2rem;
  height: auto;
  width: auto;
  font-family: "Old Standard TT", serif;
}

.quote-title {
  font-family: "Old Standard TT", serif;
  position: relative;
  text-wrap: wrap;
}
.quote-title-span {
  font-family: "Petit Formal Script", cursive;
  font-size: 50px;
}

.quote-title-span-absolute {
  position: absolute;
  top: 0;
  left: 34%;
}

/* ? Stroy Section */
.story-top-header {
  text-align: center;
  padding: 1rem 2rem;
  font-family: "Old Standard TT", serif;
}

.story-sub-head {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-weight: 100;
}

.story-section {
  height: auto;
  padding: 1rem 1rem;
}

.story-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.story-header {
  text-align: center;
  margin-bottom: 6rem;
  font-family: "Old Standard TT", serif;
}

.img-story-container {
  /* background-color: #FAE5D3; */
  width: 400px;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.img-story {
  width: 500px;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.text-story {
  width: 500px;
  height: 500px;
  background-color: #fae5d3;
  padding: 1rem 1rem;
  font-size: 14px;
  line-height: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Old Standard TT", serif;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* ? Comment Section */

.comment-container {
  /* background-color: lightcoral; */
  width: auto;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}

.text-comment {
  background-color: #fae5d3;
  width: auto;
  height: auto;
  text-wrap: wrap;
  text-align: center;
  padding: 0.8rem 6rem;
  font-size: 14px;
  font-family: "Old Standard TT", serif;
}

/* ? Footer Section */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(237, 187, 153);
  width: 100%;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

.nav-container,
a {
  text-decoration: none;
  list-style: none;
  padding: 1rem 1rem;
  color: black;
}

.list-items {
  margin-bottom: 0.5rem;
  margin-top: 0.6rem;
  transition: 0.5s transform;
}

.img-container {
  width: 130px;
  height: auto;
  object-fit: contain;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.img-content {
  width: 100%;
  height: auto;
}

.inner-right {
  padding: auto;
}

.social-media-container {
  background-color: rgb(246, 221, 204);
  height: auto;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  transition: 0.5s;
}

.social-media-container a {
  padding: 0;
  margin: 0;
}

.icon {
  margin-left: 2rem;
  width: 1.5rem;
  height: auto;
  transition: 0.5s transform;
  padding: 4px;
  border-radius: 5px;
}

.img-social-media {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(246, 221, 204);
}

.img-social-media-container {
  width: 80px;
  height: auto;
  object-fit: contain;
  object-fit: cover;
  object-position: center;
  padding: 0;
  margin-left: 0.8rem;
  background-color: rgb(246, 221, 204);
}

.social-media {
  width: 100%;
  height: auto;
  transition: 0.5s;
}

.social-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rights {
  font-size: large;
}

.list-items:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out background-color;
}

.icon:hover {
  transform: translateY(-5px);
  background-color: rgb(245, 203, 167);
  transition: 0.3s ease-in-out background-color;
}

.list-items a:hover {
  color: white;
  border-radius: 5px;
}

.social-media:hover {
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
}

/* ? Media Queries */

@media all and (min-width: 320px) {
  .nv-bar {
    display: none;
  }

  .logo-query {
    display: block;
    width: 300px;
    overflow: visible;
  }

  .menu-toggle {
    display: block;
  }

  .dropdown-menu.open span {
    display: none;
  }

  .dropdown-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
  }

  .dropdown-menu.open {
    width: 100%;
    overflow: auto;
  }

  .img-who {
    width: 300px;
  }

  .text-who {
    padding: 0;
  }

  .text-who-content {
    padding: 0.5rem;
  }

  .quote-title-span-absolute {
    left: 0.8rem;
    font-size: 0.8rem;
  }

  .quote-title-span {
    font-size: 1.6rem;
  }

  .words {
    font-size: 0.8rem;
  }

  .text-story {
    display: none;
  }

  .img-story {
    width: 300px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-media-container {
    padding: 0;
  }

  .img-social-media {
    margin: 0;
    padding: 0;
  }

  li a:hover {
    color: white;
  }
}

@media (min-width: 540px) {
  li a:hover {
    color: white;
  }

  .nv-bar {
    display: none;
  }

  .menu-toggle {
    display: block;
    margin-top: 2rem;
  }

  .dropdown-menu {
    display: block;
  }

  .dropdown-menu.open {
    display: flex;
    justify-content: center;
  }

  .logo-query {
    display: block;
    width: auto;
    height: auto;
    object-fit: contain;
    object-fit: cover;
    object-position: center;
  }

  .menu-toggle-close {
    display: none;
  }

  .img-who {
    width: 460px;
  }

  .quote-title-span-absolute {
    left: 4.6rem;
    font-size: 1rem;
  }

  .quote-title-span {
    font-size: 2.5rem;
  }

  .words {
    font-size: 1rem;
  }

  .img-story {
    width: 430px;
  }
}

@media all and (min-width: 760px) {
  .nv-bar {
    display: flex;
  }

  .logo-query {
    display: none;
  }

  .menu-toggle {
    display: none;
  }

  .img-who {
    width: 630px;
  }

  .text-who {
    padding: 1rem;
  }

  .quote-title-span-absolute {
    left: 6.2rem;
    font-size: 1.5rem;
  }

  .quote-title-span {
    font-size: 4rem;
  }

  .words {
    font-size: 1.5rem;
  }

  .text-story {
    display: block;
    width: 380px;
    overflow: auto;
  }

  .img-story {
    width: 350px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media all and (min-width: 1024px) {
  .img-who {
    width: 820px;
  }

  .text-who {
    padding: 2rem;
  }

  .quote-title-span-absolute {
    left: 1.5rem;
    font-size: 1.5rem;
  }

  .quote-title-span {
    font-size: 4rem;
  }

  .words {
    font-size: 1.5rem;
  }
  .quote-container {
    padding: 1rem 15rem;
  }

  .text-story {
    display: block;
    width: 450px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media all and (min-width: 1440px) {
  .img-who {
    width: 1020px;
  }

  .text-who {
    padding: 2rem;
  }

  .quote-container {
    padding: 1rem 26rem;
  }

  .quote-title-span-absolute {
    left: 1.3rem;
    font-size: 2rem;
  }

  .quote-title-span {
    font-size: 6rem;
  }

  .words {
    font-size: 2rem;
  }

  .text-story {
    width: 600px;
  }

  .img-story {
    width: 760px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
